---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: app-ingress-controller
  namespace: kube-system
  labels:
    application: app-ingress-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      application: app-ingress-controller
  template:
    metadata:
      labels:
        application: app-ingress-controller
    spec:
      containers:
      - name: controller
        image: registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:latest
        env:
        - name: AWS_REGION
          value: $YOUR_REGION
