---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kube-ingress-aws-controller
  namespace: kube-system
  labels:
    application: kube-ingress-aws-controller
    component: ingress
spec:
  replicas: 1
  selector:
    matchLabels:
      application: kube-ingress-aws-controller
      component: ingress
  template:
    metadata:
      labels:
        application: kube-ingress-aws-controller
        component: ingress
      annotations:
        iam.amazonaws.com/role: arn:aws:iam::12345678901:role/YOUR_PRECONFIGURED_ROLE
    spec:
      serviceAccountName: kube-ingress-aws
      containers:
      - name: controller
        image: registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.7.4
        env:
        - name: AWS_REGION
          value: <REGIOn>
        args:
          - "-ip-addr-type=dualstack" OR "-ip-addr-type=ipv4" OR OMIT TO HAVE ipv4
