name: ci
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.20'
    - run: go version
    - run: go install github.com/mattn/goveralls@latest
    - run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
    - run: make test
    - run: make lint
    - run: goveralls -coverprofile=profile.cov -service=github
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
